.p-underline{
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
  width: 12rem;
}
.small-thumb{
  width: 5rem;
  height: 3rem;
}
.card-div {
  background: url(wtp_number.jpg);
  background-size: 180px 160px;
  background-repeat: no-repeat;
}

.Natalee_bg {
  background: url(../nat2.jpg);
  background-repeat: no-repeat;
  width: 150px;
  height: 200px;
}

.small-input {
  height: 1.5rem;
  width: 70px;
  display: inline-block;
  margin-top: 10px;
}
a.fi-paw {
  color: brown;
}

