<div class="row small-11 columns">
  <nav aria-label="You are here:" role="navigation">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
       <li id="rider_data_breadcrumb">
        <span class="show-for-sr">Current: </span> Rider Data
      </li>
    </ul>
  </nav>
</div>
<div class="row">
  <div class="small-11 small-centered columns">
    <h5 class="text-center"> <%= @owner.name %> has been on the slopes a lot! </h5>
  </div>
</div>
<div class="row small-up-2 medium-up-3 large-up-4">
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/550x550">
    <h5>My Site</h5>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/550x550">
    <h5>My Site</h5>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/550x550">
    <h5>My Site</h5>
  </div>
  <div class="column">
    <img class="thumbnail" src="http://placehold.it/550x550">
    <h5>My Site</h5>
  </div>
</div>
